# For Prisma to connect to the DB
DATABASE_URL="postgresql://postgres:[PASSWORD]@db.your-id.supabase.co:5432/postgres"
DIRECT_URL="postgresql://postgres:[PASSWORD]@db.your-id.supabase.co:5432/postgres"

# For the Supabase Client (Frontend/Auth)
NEXT_PUBLIC_SUPABASE_URL="https://your-project-id.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-anon-key"
